.CountryList {
    padding: 10px 50px;
    font-size: var(--Homepage-fontSize);
}

.CountryList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: 30px 0;
}

.CountryList__header-search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--element-color);
    box-shadow: 1px 0px 3px gray;
    border-radius: 5px;
    min-width: 400px;
    padding: 10px;
}

.CountryList__header-search__svg {
    height: 15px;
}

.CountryList__header-search__input {
    border: none;
    flex: 1;
    outline: none;
    background-color: var(--element-color);
    color: var(--text-color);
}

.CountryList__header-select {
    background-color: var(--element-color);
    box-shadow: 1px 0px 3px var(--shadow-color);
    border-radius: 5px;
    position: relative;
    display: inline-block;
    width: 200px;
    color: var(--text-color);
}

.CountryList__header-select select {

    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--element-color);
    color: var(--text-color);

}

.CountryList__region-option {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
}

.CountryList__region-option:hover {
    background-color: var(--bg-color);
}

.CountryList__items {

    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

@media screen and (max-width : 376px) {
    .CountryList {
        padding: 10px 20px;
        font-size: var(--Homepage-fontSize);
    }
    .CountryList__header {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        gap: 40px;
    }
    .CountryList__header-search {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--element-color);
        box-shadow: 1px 0px 3px var(--shadow-color);
        border-radius: 5px;
        min-width: 100%;
        padding: 10px;
    }

    .CountryList__items {

        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

    }


}