.country {
    background-color: var(--bg-color);
    box-shadow: 1px 1px 5px rgb(165, 162, 162);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.country__img {
    object-fit: cover;
    height: 50%;
}

.country__infos {

    background-color: var(--bg-color);
    padding: 20px;
    min-height: 50%;
}

.country__infos span {
    font-weight: 800;
    color: var(--text-color);
}

.country__infos-name {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--very-dark-blue-text);
    margin-bottom: 20px;
}